button {
    cursor: pointer;
    background-color: var(--cnmss-medium);
    border: none;
    height: 45px;
    min-width: 100px;
    margin: 3px;
    border-radius: 5px;
    color: white;
    transform: scale(1);
    transition: all .3s ease;
}

button:hover {
    transform: scale(1.1);
}

button:active {
    transform: scale(0.9);
}

.high {
    background-color: var(--cnmss-high);
}

.medium {
    background-color: var(--cnmss-medium);
}

.low {
    background-color: var(--cnmss-low);
}